/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Dec 7, 2022, 5:45:20 PM
    Author     : ADMIN
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.main{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(market.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form{
    height: 480px;
    width: 380px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.form1{
    height: 600px;
    width: 380px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.frame{
    width:  220px;
    font-size: 20px;
    color: white;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 15px 7px #B7E4C7;
    border-radius: 30px;
    background: linear-gradient(to right,#2D6A4F,#40916C);
    text-align:center;
}

.logo{
    margin: 5px 10px 10px 10px;
    text-align: center;
}
.logo img{
    width: 40px;
    margin: 10px 12px 12px 12px;
    box-shadow: 0 0 20px #40916C;
    cursor: pointer;
    border-radius: 50%;
}
.logo1{
    margin: 20px 10px 10px 10px;
    text-align: center;
}
.logo1 img{
    width: 32px;
    margin: 10px 12px 12px 12px;
    box-shadow: 0 0 15px #40916C;
    cursor: pointer;
    border-radius: 50%;
}
.log{
    top: 110px;
    right: 60px;
    position: absolute;
    width: 280px;
}
.sign{
    top: 70px;
    right: 60px;
    position: absolute;
    width: 280px;
}

.inputfield{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}


.show{
    position: absolute;
    bottom: 37%;
    right: 5%;
}


.submit{
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    color: white;
    background: linear-gradient(to right,#2D6A4F,#40916C);
    border: 0;
    outline: none;
    border-radius: 30px;

}
.checkbox{
    margin: 20px 10px 30px 0;
}
.show{
    position: absolute;
    top: 33%;
    right: 4%;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}




